[submodule "alpine/common/etc/naxsi/doxi-rules"]
	path = alpine/common/etc/naxsi/doxi-rules/doxi-rules
	url = https://bitbucket.org/lazy_dogtown/doxi-rules.git
[submodule "alpine/common/etc/naxsi/naxsi-rules"]
	path = alpine/common/etc/naxsi/naxsi-rules
	url = https://github.com/nbs-system/naxsi-rules.git
