[submodule "common/etc/naxsi/doxi-rules"]
	path = common/etc/naxsi/doxi-rules
	url = https://bitbucket.org/lazy_dogtown/doxi-rules.git
[submodule "common/etc/naxsi/naxsi-rules"]
	path = common/etc/naxsi/naxsi-rules
	url = https://github.com/nbs-system/naxsi-rules.git
